.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--cor-header);
  border-bottom: 2px solid var(--cor-borda);
  box-shadow: var(--sombra-padrao);
  z-index: 1000;
}

.header-container {
  width: 1100px;
  max-width: 95%;
  margin: 0 auto;
  padding: 16px 0 12px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 160px;
  height: auto;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1.5px;
  color: var(--cor-texto);
  font-weight: 800;
  position: relative;
  transition: 0.3s;
}

.menu a:hover {
  color: var(--cor-borda);
  text-decoration: none;
}

.menu a:hover::after {
  width: 100%;
}

.pesquisa input {
  width: 230px;
  height: 35px;
  padding: 6px 10px;
  background-color: var(--cor-fundo-card);
  border: 2px solid var(--cor-borda);
  border-radius: 8px;
  color: var(--cor-texto);
  outline: none;
}

.pesquisa input::placeholder {
  color: #aaa;
  font-size: 10px;
  opacity: 85%;
}

.hamburger {
  display: none;
  width: 20px;
  height: 20px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  width: 100%;
  height: 3px;
  background: var(--cor-borda);
  border-radius: 6px;
  left: 0;
  transition: 0.3s ease;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 8px;
}

.hamburger span:nth-child(3) {
  bottom: 0;
}

.hamburger.ativo span:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}

.hamburger.ativo span:nth-child(2) {
  opacity: 0;
}

.hamburger.ativo span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 9px;
}

@media (max-width: 900px) {

  .header {
    border-bottom: 1px solid var(--cor-borda);

  }

  .header-container {
    width: 100%;
    max-width: 350px;
    height: 50px;
    margin: 0 auto;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo img {
    width: 80px;
    height: auto;
  }

  .pesquisa input {
    width: 140px;
    height: auto;
    padding: 4px 8px;
    border: 1px solid var(--cor-borda);
  }

  .pesquisa input::placeholder {
    font-size: 6px;
  }

  .logo {
    order: 1;
  }

  .pesquisa {
    order: 2;
  }

  .hamburger {
    order: 3;
    display: block;
    z-index: 1101;
  }

  .menu {
    position: fixed;
    top: 51px;
    right: -100%;
    width: 100px;
    height: 100vh;
    gap: 16px;
    padding: 20px 10px;
    background: var(--cor-fundo-gradiente);
    backdrop-filter: blur(6px);
    transition: right 0.35s ease;
    display: flex;
    z-index: 1100;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
  }

  .menu.ativo {
    right: 0;
  }

  .menu a {
    font-size: 12px;
    letter-spacing: 1px;
    color: var(--cor-borda);
    border: 1px solid var(--cor-borda);
    border-radius: 8px;
    background: var(--cor-header);
    padding: 4px 10px;
  }
}