.jojo-detalhe-page-container {
  width: 100%;
  min-height: 100vh;
  margin: 120px auto 0;
  color: var(--cor-texto);
  box-sizing: border-box;
  transition: background 0.6s ease;
}

.jojo-detalhe-page-voltar-container {
  max-width: 1200px;
  margin: 20px auto 0 auto;
}

.jojo-detalhe-page-btn-voltar {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 22px;
  border-radius: 14px;
  background: linear-gradient(145deg,
      var(--cor-card),
      var(--cor-fundo-card));
  border: 2px solid var(--cor-borda);
  color: var(--cor-texto);
  font-family: var(--font-titulo);
  font-size: 16px;
  letter-spacing: 3px;
  opacity: 0.8;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  box-shadow:
    0 6px 16px var(--cor-sombra),
    inset 0 0 10px rgba(255, 255, 255, 0.05);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  cursor: pointer;
}

.jojo-detalhe-page-btn-voltar:hover {
  transform: translateY(-5px);
  box-shadow:
    0 12px 24px var(--cor-sombra),
    inset 0 0 14px rgba(255, 255, 255, 0.08);
}

.jojo-detalhe-page-btn-voltar:active {
  transform: translateY(-1px);
}

.jojo-detalhe-page-secao-parte {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.jojo-detalhe-page-card-detalhe {
  width: 350px;
  padding-bottom: 10px;
  background: var(--cor-fundo-card);
  border: 2px solid var(--cor-borda);
  border-radius: 14px;
  box-shadow: 0 10px 25px var(--cor-sombra);
}

.jojo-detalhe-page-img-card-detalhe {
  text-align: center;
  margin-bottom: 10px;
}

.jojo-detalhe-page-img-card-detalhe img {
  width: 100%;
  max-width: 380px;
  height: auto;
  border-radius: 12px 12px 0 0;
  object-fit: contain;
  filter: drop-shadow(0 8px 12px var(--cor-sombra));
}

.jojo-detalhe-page-titulo {
  text-align: center;
}

.jojo-detalhe-page-titulo h1 {
  font-family: var(--font-titulo);
  font-size: 24px;
  margin-bottom: 8px;
  color: var(--cor-borda);
  text-shadow: 0 4px 10px var(--cor-sombra);
}

.jojo-detalhe-page-card-detalhe-info p {
  font-size: 16px;
  margin: 4px 16px 0 16px;
}

.jojo-detalhe-page-card-detalhe-info strong {
  color: var(--cor-borda);
}

.jojo-detalhe-page-card-sobre {
  width: 800px;
  background: var(--cor-card);
  border-radius: 14px;
  padding: 20px;
  border: 2px solid var(--cor-borda);
  box-shadow: 0 10px 25px var(--cor-sombra);
}

.jojo-detalhe-page-card-sobre h2 {
  font-family: var(--font-titulo);
  font-size: 28px;
  color: var(--cor-borda);
  text-shadow: 0 4px 10px var(--cor-sombra);
  margin: 10px 0 20px 0;
  text-align: center;
  letter-spacing: 5px;
}

.jojo-detalhe-page-card-sobre p {
  font-size: 17px;
  text-align: justify;
  line-height: 1.4;
  white-space: pre-line;
}

.jojo-detalhe-page-secao-galeria {
  max-width: 1200px;
  margin: 60px auto;
}

.jojo-detalhe-page-secao-galeria h2 {
  color: var(--cor-borda);
  text-shadow: 0 4px 10px var(--cor-sombra);
  margin-bottom: 40px;
  text-align: center;
  font-size: 40px;
  letter-spacing: 5px;
}

.jojo-detalhe-page-galeria {
    display: flex;
    gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.jojo-detalhe-page-card-galeria {
  overflow: hidden;
  transition: transform 0.3s ease;
}

.jojo-detalhe-page-card-galeria:hover {
  transform: scale(1.05);
}

.jojo-detalhe-page-card-galeria img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

@media (max-width: 900px) {

  .jojo-detalhe-page-container {
    width: 100%;
    margin: 50px auto;
  }

  .jojo-detalhe-page-voltar-container {
    max-width: 350px;
    margin: 20px auto 0 auto;
  }

  .jojo-detalhe-page-btn-voltar {
    padding: 4px 10px;
    border-radius: 8px;
    border: 1px solid var(--cor-borda);
    font-size: 9px;
    letter-spacing: 2px;
  }

  .jojo-detalhe-page-secao-parte {
    max-width: 350px;
    height: auto;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .jojo-detalhe-page-card-detalhe {
    width: 350px;
    height: 160px;
    border-radius: 10px;
    border: 1px solid var(--cor-borda);
    display: flex;
    padding-bottom: 0;
    gap: 10px;
  }

  .jojo-detalhe-page-img-card-detalhe {
    margin-bottom: 0;
  }

  .jojo-detalhe-page-img-card-detalhe img {
    max-width: 130px;
    height: 159px;
    border-radius: 10px 0 0 10px;
  }

  .jojo-detalhe-page-titulo h1 {
    font-size: 14px;
    margin: 10px auto;
    letter-spacing: 2px;
  }

  .jojo-detalhe-page-card-detalhe-info p {
    font-size: 10px;
    margin: 0 4px;
  }

  .jojo-detalhe-page-card-sobre {
    width: 350px;
    border-radius: 12px;
    padding: 6px;
    border: 1px solid var(--cor-borda);
  }

  .jojo-detalhe-page-card-sobre h2 {
    font-family: var(--font-titulo);
    font-size: 14px;
    margin: 4px 0 6px 0;
    letter-spacing: 3px;
  }

  .jojo-detalhe-page-card-sobre p {
    font-size: 9px;
    line-height: 1.2;
  }

  .jojo-detalhe-page-secao-galeria {
  max-width: 350px;
  margin: 30px auto 0;
  padding: 20px 0;
}

.jojo-detalhe-page-secao-galeria h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.jojo-detalhe-page-galeria {
    gap: 20px;
}

.jojo-detalhe-page-card-galeria img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

}