.btn-top {
   position: fixed;
   bottom: 24px;
   right: 24px;
   z-index: 999;

   width: 52px;
   height: 52px;
   border-radius: 50%;

   background-color: var(--cor-btn-top);
   color: #000;
   border: none;

   font-size: 30px;
   cursor: pointer;

   box-shadow: 0 6px 18px rgba(0, 0, 0, 0.45);
   transition: background-color 0.3s ease,
      transform 0.3s ease,
      box-shadow 0.3s ease;
}

@media (max-width: 900px) {

   .btn-top {
      width: 40px;
      height: 40px;
      font-size: 26px;
   }
}